<%-
  include('../_header', {
    page: json['recruit.fresh']
  });
%>

<div class="ly_content" id="fresh">
  <div class="topBg">

  </div>
  <section class="ly_heading ly_inner">
    <div class="el_lv2Heading">
      エントリーフォーム
    </div>
  </section>
  <section class="ly_postingTtl ly_inner">
    <div class="ly_col">
      <div class="bl_centerBox">
        <div class="el_lv3Heading">
          募集職種について
        </div>
        <div class="btn">
          詳しく見る
        </div>
      </div>
    </div>
    <div class="ly_col inview">
      <img src="/img/fresh01.jpg" alt="" class="img-zoom">
    </div>
  </section>
  <section class="ly_service">
    <div class="ly_inner">
      <div class="card">
        <li>
          <a href="" class="">
            <div class="bl_imgBox inview hover-darken">
              <img src="/img/link01.jpg" alt="" class="img-zoom">
              Preparation<br>Allowance<br>System
            入社支援金制度について
            </div>
            <div class="bl_cardTextBox">
              入社支援金制度について
            </div>
          </a>
        </li>
        <li>
          <a href="" class="">
            <div class="bl_imgBox inview hover-darken">
              <img src="/img/link02.jpg" alt="" class="img-zoom">
              Preparation<br>Allowance<br>System
            入社支援金制度について
            </div>
            <div class="bl_cardTextBox">
              弊社開発のWEB会議システムで先輩社員と話そう
            </div>
          </a>
        </li>
        <li>
          <a href="" class="">
            <div class="bl_imgBox inview hover-darken">
              <img src="/img/link03.jpg" alt="" class="img-zoom">
              Preparation<br>Allowance<br>System
            入社支援金制度について
            </div>
            <div class="bl_cardTextBox">
              先輩インタビューやイベント情報・募集要項はこちら
            </div>
          </a>
        </li>
      </div>
    </div>
  </section>
</div>

<%- include('../_footer') %>