<footer class="footer">
  <a href="#" class="topScroll">
    <span>TOP</span>
  </a>
  <div class="ly_inner">
    <div class="footer__left">
      <div class="footer__left__upper">
        <ul>
          <li>
            <a href="">
              PRIVACY POLICY
            </a>
          </li>
          <li>
            <a href="">
              SITE MAP
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__left__lower">
        <div class="logo">
          <a href="">
            <img src="/img/" alt="KM Holdings Recruit">
          </a>
        </div>
        <div class="copyright">
          &copy;KM Holdings all right reserved.
        </div>
      </div>
    </div>
    <div class="footer__right forPc">
      <div class="footer__box">
        <p class="footer__boxTtl">
          <a href="">
            KMを知る
          </a>
        </p>
        <ul class="footer__boxList">
          <li class="footer__boxListItem">
            <a href="">採用メッセージ</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">KMが目指すもの</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">事業領域</a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <p class="footer__boxTtl">
          <a href="">新卒採用</a>
        </p>
        <ul class="footer__boxList">
          <li class="footer__boxListItem">
            <a href="">採用メッセージ</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">KMが目指すもの</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">事業領域</a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <p class="footer__boxTtl">
          <a href="">中途採用</a>
        </p>
        <ul class="footer__boxList">
          <li class="footer__boxListItem">
            <a href="">採用メッセージ</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">KMが目指すもの</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">事業領域</a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <p class="footer__boxTtl">
          <a href="">イベント・採用情報</a>
        </p>
        <ul class="footer__boxList">
          <li class="footer__boxListItem">
            <a href="">採用メッセージ</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">KMが目指すもの</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">事業領域</a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <p class="footer__boxTtl">
          <a href="">選考について</a>
        </p>
        <ul class="footer__boxList">
          <li class="footer__boxListItem">
            <a href="">採用メッセージ</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">KMが目指すもの</a>
          </li>
          <li class="footer__boxListItem">
            <a href="">事業領域</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>