<!DOCTYPE html>
<html lang="ja">

<%- include('_head') %>

<body id="recruit">
  <header class="header">
    <div class="ly_inner">
      <div class="header__left">
        <a href="/recruit/">
          <!-- <img src="img/logo.png" alt="KM holdings"> -->
        <div class="logo">KM Holdings</div>
        </a>
      </div>
      <div class="header__right forPc">
        <nav class="nav forPc">
          <ul>
            <li>
              <a href="/recruit/">KMを知る</a>
            </li>
            <li>
              <a href="/recruit/">先輩インタビュー</a>
            </li>
            <li>
              <a href="/recruit/fresh.html">新卒採用</a>
            </li>
            <li>
              <a href="/recruit/midcareer.html">中途採用</a>
            </li>
            <li>
              <a href="/recruit/" target="_blank">イベント・採用情報</a>
            </li>
            <li>
              <a href="/recruit/" target="_blank">選考について</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="nav nav_area_sp forSp">
        <div class="nav_area_bg"></div>
        <button type="button" class="nav_buttom">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav>
          <div class="logo">
            <!-- <img src="" alt="KM Holdings"> -->
            <div class="logo">KM Holdings</div>
          </div>
          <ul>
            <li>
              <a href="/recruit/">KMを知る</a>
            </li>
            <li>
              <a href="/recruit/">先輩インタビュー</a>
            </li>
            <li>
              <a href="/recruit/fresh.html">新卒採用</a>
            </li>
            <li>
              <a href="/recruit/midcareer.html">中途採用</a>
            </li>
            <li>
              <a href="/recruit/" target="_blank">イベント・採用情報</a>
            </li>
            <li>
              <a href="/recruit/" target="_blank">選考について</a>
            </li>
          </ul>
          <div class="header__btn-list forSp">
            <a href="" class="btn">資料ダウンロード</a>
            <a href="" class="btn">お問い合わせ</a>
          </div>
        </nav>
      </div>
    </div>
    <a href="/recruit/entry.html" class="btn btn__entry forPc">ENTRY</a>
  </header>