<%-
  include('_header', {
    page: json['recruit']
  });
%>

<div class="ly_content" id="recruit">
  <section class="ly_mv">
    <div class="bl_ttl__box">
      <a href="" class="btn">
        Recruiting Policy
      </a>
    </div>
    <div class="el_strecheRod">
      <div class="el_strecheRod__in">

      </div>
    </div>
  </section>
  <section class="ly_entry">
    <div class="ly_inner">
      <h2 class="el_lv2Heading">
        ENTRY
        <span class="el_leadText">
          「新卒採用」・「中途採用」の募集職種の詳細情報や、先輩社員の声について
        </span>
      </h2>
      <ul class="card">
        <li>
          <a href="/recruit/fresh.html">
            <div class="bl_imgBox hover-darken inview">
              <img src="/img/entry01.jpg" alt="" class="img-zoom">
              <!-- <img src="http://satyr.io/580x302" alt="" class="img-zoom"> -->
            </div>
            <div class="bl_cardTextBox">
              <div class="el_boxTtl">- 新卒採用</div>
              <p class="el_boxText">
                新卒向けにファーストキャリアを安心して選ぶにあたり、採用情報をより詳しくお伝えさせていただくページです。
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="/recruit/midcareer.html">
            <div class="bl_imgBox hover-darken inview">
              <img src="/img/entry02.jpg" alt="" class="img-zoom">
            </div>
            <div class="bl_cardTextBox cover-slide">
              <div class="el_boxTtl">- 中途採用</div>
              <p class="el_boxText">
                あなたのセカンドキャリアを深く広げられるよう、採用情報を詳細にお伝えさせて頂くページです。
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="ly_event">
    <div class="ly_inner">
      <div class="el_lv2Heading">
        EVENT・CAREER INFORMATION
        <span class="el_leadText">
          先輩インタビューやイベント情報・募集要項はこちら
        </span>
      </div>
      <h3 class="el_lv3Heading">
        <span class="">NEW GRADUATE</span>
        新卒採用関連記事
      </h3>
      <div class="card">
        <li>
          <a href="">
            <div class="bl_imgBox hover-darken inview">
              <!-- <img src="/img/recruit01.jpg" alt="" class="img-zoom forPc"> -->
              <img src="http://satyr.io/720x327" alt="" class="img-zoom forPc">
              
              <!-- <img src="/img/recruit01_sp.jpg" alt="" class="img-zoom forSp"> -->
              <img src="http://satyr.io/330x323" alt="" class="img-zoom forSp">
            </div>
            <h4 class="el_lv4Heading">
              【新卒入社】先輩インタビュー
              <span class="ruby">
                セールスプロデューサー/マーケティングプロデューサー
              </span>
            </h4>
            
          </a>
        </li>
        <li>
          <a href="">
            <div class="bl_imgBox hover-darken inview">
              <img src="/img/recruit02.jpg" alt="" class="img-zoom">
            </div>
            <h4 class="el_lv4Heading">
              セミナー・イベント<br>研修情報
            </h4>
          </a>
        </li>
      </div>
    </div>
  </section>

  <section class="ly_post">
    <div class="ly_inner">
      <h3 class="el_lv3Heading">
        RECENT POST
        <span class="el_tag el_tag__new">新着記事</span>
      </h3>
    </div>
  </section>
  <section class="ly_midCareer">
    <div class="ly_inner">
      <h3 class="el_lv3Heading">
        <span>MID-CAREER</span>
        中途採用関連記事
      </h3>
  
      <ul class="card">
        <li>
          <a href="">
            <div class="bl_imgBox hover-darken inview">
              <!-- <img src="/img/recruit03.jpg" alt="" class="img-zoom forPc"> -->
              <img src="http://satyr.io/720x327" alt="" class="img-zoom forPc">
              <!-- <img src="/img/recruit03_sp.jpg" alt="" class="img-zoom forSp"> -->
              <img src="http://satyr.io/330x323" alt="" class="img-zoom forSp">
            </div>
            <h4 class="el_lv4Heading">
              【中途入社】先輩インタビュー
              <div class="ruby">
                コンサルティング営業/マーケティングプロデューサー/クリエイティブ/バックオフィス
              </div>
            </h4>
            
          </a>
        </li>
        <li>
          <a href="">
            <div class="bl_imgBox hover-darken inview">
              <img src="/img/recruit04.jpg" alt="" class="img-zoom">
            </div>
            <h4 class="el_lv4Heading">
              セミナー・イベント<br>研修情報
            </h4>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="ly_post">
    <div class="ly_inner">
      <h3 class="el_lv3Heading">
        RECENT POST
        <span class="el_tag el_tag__new">新着記事</span>
      </h3>
    </div>
  </section>
  <section class="ly_apply">
    <div class="ly_inner">
      <h3 class="el_lv3Heading">
        <span class="">APPLICATION REQUIREMENTS</span>
        各種募集要項一覧
      </h3>
      <a href="" class="btn">一覧を見る</a>
    </div>
  </section>
  <section class="ly_service">
    <div class="ly_inner">
      <div class="card">
        <li>
          <a href="" class="">
            <div class="bl_imgBox inview hover-darken">
              <img src="/img/link01.jpg" alt="" class="img-zoom">
              Preparation<br>Allowance<br>System
            入社支援金制度について
            </div>
            <div class="bl_cardTextBox">
              入社支援金制度について
            </div>
          </a>
        </li>
        <li>
          <a href="" class="">
            <div class="bl_imgBox inview hover-darken">
              <img src="/img/link02.jpg" alt="" class="img-zoom">
              Preparation<br>Allowance<br>System
            入社支援金制度について
            </div>
            <div class="bl_cardTextBox">
              弊社開発のWEB会議システムで先輩社員と話そう
            </div>
          </a>
        </li>
        <li>
          <a href="" class="">
            <div class="bl_imgBox inview hover-darken">
              <img src="/img/link03.jpg" alt="" class="img-zoom">
              Preparation<br>Allowance<br>System
            入社支援金制度について
            </div>
            <div class="bl_cardTextBox">
              先輩インタビューやイベント情報・募集要項はこちら
            </div>
          </a>
        </li>
      </div>
    </div>
  </section>
</div>

<%- include('./_footer') %>