<!DOCTYPE html>
<html lang="ja">

<%- include('_head') %>

<body>
  <header class="header">
    <div class="ly_inner">
      <div class="header__left">
        <a href="/">
          <!-- <img src="img/logo.png" alt="KM holdings"> -->
        <div class="logo">KM Holdings</div>
        </a>
      </div>
      <div class="header__right forPc">
        <div class="header__right__upper">
          <a href="" class="btn">資料ダウンロード</a>
          <a href="" class="btn">お問い合わせ</a>
        </div>
        <nav class="nav forPc">
          <ul>
            <li>
              <a href="/">トップ</a>
            </li>
            <li>
              <a href="#about">会社紹介</a>
            </li>
            <li>
              <a href="#news">お知らせ</a>
            </li>
            <li>
              <a href="#products">提供サービス</a>
            </li>
            <li>
              <a href="#products">自社商品・メディア</a>
            </li>
            <li>
              <a href="/recruit/" target="_blank">採用情報</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="nav nav_area_sp forSp">
        <div class="nav_area_bg"></div>
        <button type="button" class="nav_buttom">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav>
          <div class="logo">
            <!-- <img src="" alt="KM Holdings"> -->
            <div class="logo">KM Holdings</div>
          </div>
          <ul>
            <li><a href="/">トップ</a></li>
            <li><a href="#about">会社紹介</a></li>
            <li><a href="#news">お知らせ</a></li>
            <li><a href="#products">提供サービス</a></li>
            <li><a href="/media/">自社商品・メディア</a></li>
            <li><a href="/recruit/">採用情報</a></li>
          </ul>
          <div class="header__btn-list forSp">
            <a href="" class="btn">資料ダウンロード</a>
            <a href="" class="btn">お問い合わせ</a>
          </div>
          </nav>
        </div>
    </div>
  </header>